<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'>

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    {% block header %}
    {% endblock header %}
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark custom-bg-color">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3 " href="{% url 'profile' %}">Inicio</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">

        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                <li><a class="dropdown-item" href="#!" id="logout-link">Cerrar Sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="{% url 'profile' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Datos</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Estadística
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{% url 'DatosAnuales' %}">Datos Anuales</a>
                            <a class="nav-link" href="{% url 'DatosMensuales' %}">Datos Mensuales</a>
                            <a class="nav-link" href="{% url 'DatosDiarios' %}">Datos Diarios</a>
                        </nav>
                    </div>

                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="login.html">Login</a>
                                    <a class="nav-link" href="register.html">Register</a>
                                    <a class="nav-link" href="password.html">Forgot Password</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseError" aria-expanded="false"
                               aria-controls="pagesCollapseError">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">

                            </div>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading"></div>

                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Inició sesión como:</div>
                {{ user.first_name }}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                {% block container %}


                    <br>
                    <div class="container  " style="border-radius: 0; ">
                        <div class="card-body">
                            <h1 style="color: black">Ver información</h1>
                            <h5 style="color: gray">{{ item.nombre }}</h5>
                            <a class="btn  bg-primary" href="{% url 'core:establecimiento_registros' item.id %}"

                               style="color: white;"> Ver
                                Registros</a>

                            <a class="btn bg-primary" href="{% url 'core:establecimiento_editar' item.id %}"
                               style="color: white;"> Editar
                                información</a>
                        </div>
                    </div>

                    <br>


                    <h2>
                        <i class="fa-solid fa-circle-info" style="color: #6b6b6b;"></i>
                        Información
                    </h2>
                    <!-- Información general -->
                    <div class="mb-4 p-3 rounded">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label for="clasificacion">Clasificación:</label>
                                    <input class="form-control bg-light" type="text" id="clasificacion"
                                           value="{{ item.clasificacion }}" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="categoria">Categoría:</label>
                                    <input class="form-control bg-light" type="text" id="categoria"
                                           value="{{ item.categoria }}"
                                           disabled>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h2>
                        <i class="fa-solid fa-address-book" style="color: #6b6b6b;"></i>
                        Contactos
                    </h2>
                    <!-- Contactos -->
                    <div class="mb-4 p-3 rounded">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input class="form-control bg-light" type="email" id="email"
                                           value="{{ item.email }}"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="telefono">Teléfono:</label>
                                    <input class="form-control bg-light" type="text" id="telefono"
                                           value="{{ item.telefono }}"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="direccion">Dirección:</label>
                                    <input class="form-control bg-light" type="text" id="direccion"
                                           value="{{ item.direccion }}"
                                           disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>
                        <i class="fa-solid fa-compass" style="color: #6b6b6b;"></i>
                        Dirección
                    </h2>
                    <!-- Dirección -->
                    <div class="mb-4 p-3 rounded">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="calle_principal">Calle principal:</label>
                                    <input class="form-control bg-light" type="text" id="calle_principal"
                                           value="{{ item.calle_principal }}" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="calle_numero">Calle número:</label>
                                    <input class="form-control bg-light" type="text" id="calle_numero"
                                           value="{{ item.calle_numero }}" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="calle_secundaria">Calle secundaria:</label>
                                    <input class="form-control bg-light" type="text" id="calle_secundaria"
                                           value="{{ item.calle_secundaria }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>
                        <i class="fa-solid fa-location-dot" style="color: #6b6b6b;"></i>
                        Ubicación
                    </h2>
                    <!-- Ubicación -->
                    <div class="mb-4 p-3 rounded">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="provincia">Provincia:</label>
                                    <input class="form-control bg-light" type="text" id="provincia"
                                           value="{{ item.provincia }}"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="canton">Cantón:</label>
                                    <input class="form-control bg-light" type="text" id="canton"
                                           value="{{ item.canton }}"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="parroquia">Parroquia:</label>
                                    <input class="form-control bg-light" type="text" id="parroquia"
                                           value="{{ item.parroquia }}"
                                           disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>
                        <i class="fa fa-users" style="color: #6b6b6b;"></i>
                        Empleados
                    </h2>
                    <!-- Empleados -->
                    <div class="mb-4 p-3 rounded">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="empleados">Empleados:</label>
                                    <input class="form-control bg-light" type="text" id="empleados"
                                           value="{{ item.empleados }}"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="hombres">Hombres:</label>
                                    <input class="form-control bg-light" type="text" id="hombres"
                                           value="{{ item.hombres }}"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="mujeres">Mujeres:</label>
                                    <input class="form-control bg-light" type="text" id="mujeres"
                                           value="{{ item.mujeres }}"
                                           disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Instalaciones -->
                    <h2>
                        <i class="fa-solid fa-hotel" style="color: #6b6b6b;"></i>
                        Instalaciones
                    </h2>
                    <div class="mb-4 p-3 rounded">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="habitaciones">Habitaciones:</label>
                                    <input class="form-control bg-light" type="text" id="habitaciones"
                                           value="{{ item.habitaciones }}" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label for="plazas ">Plazas:</label>
                                    <input class="form-control bg-light" type="text" id="plazas"
                                           value="{{ item.plazas }}"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label for="tipo_tarifa ">Tipo de tarifa:</label>
                                    <input class="form-control bg-light" type="text" id="tipo_tarifa" value="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gerente -->
                    <h2>
                        <i class="fa-solid fa-user" style="color: #6b6b6b;"></i>
                        Gerente
                    </h2>
                    <div class="mb-4 p-3  rounded">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="propietario">Propietario:</label>
                                    <input class="form-control bg-light" type="text" id="propietario"
                                           value="{{ item.propietario }}" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="representante">Representante:</label>
                                    <input class="form-control bg-light" type="text" id="representante"
                                           value="{{ item.representante }}" disabled>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label for="web">Web:</label>
                                    <input class="form-control bg-light" type="text" id="web" value="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endblock container %}
        </main>
    </div>
    </main>

</div>

<br><br><br>
</main>
{% include "master.html" with exclude_header=True exclude_footer=True %}


</body>
<footer>

</footer>

</html>
{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/assets/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/assets/demo/chart-bar-demo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/datatables-simple-demo.js' %}"></script>
    <script src="{% static 'assets/js/linecharts.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const logoutLink = document.getElementById('logout-link');

            logoutLink.addEventListener('click', function (event) {
                event.preventDefault();

                fetch("{% url 'logout' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(function () {
                    window.location.href = "{% url 'index' %}";
                }).catch(function (error) {
                    console.error('Error al cerrar la sesión:', error);
                });
            });
        });
    </script>
    <script>

        $('input').attr('required', false);
        $('input[type="number"]').attr('min', 0);
    </script>
{% endblock %}
