
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet"/>


    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
<script src="assets/plugins/global/plugins.bundle.js"></script>

</head>
<body class="sb-nav-fixed">

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark custom1-bg-color" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" href="{% url 'profile' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Inicio
                    </a>
                 <div class="sb-sidenav-menu-heading ">Datos Generales</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Datos
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="">Datos Anuales</a>
                            <a class="nav-link" href="">Datos Mensuales</a>
                             <a class="nav-link" href="layout-sidenav-light.html">Datos Diarios</a>
                        </nav>
                    </div>
                    <nav>

                    </nav>

                </div>
            </div>
            <div class="sb-sidenav-footer custom1-bg-color  ">
                <div class="small ">Logged in as:</div>
                {{user.first_name}}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 ">
                <h1 class="mt-4">Menu</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">{{user.email}}</li>
                </ol>
                {% for item in list %}
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card custom-bg-color mb-4">
                            <div class="card-body">Ver Información</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url "core:establecimiento" item.id %}   ">Clic aquí</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card custom-bg-color text-white mb-4">
                            <div class="card-body">Agregar Registro</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url "core:establecimiento_registro_nuevo" item.id %}">Clic aquí</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card custom-bg-color text-white mb-4">
                            <div class="card-body">Ver Registros</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url "core:establecimiento_registros" item.id %}">Clic aquí</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card custom-bg-color text-white mb-4">
                            <div class="card-body">Editar Información</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link " href="{% url "core:establecimiento_editar" item.id %}">Clic aquí</a>
                                <div class="small text-white"><i class="fas fa-angle-right " ></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div>
                    <p>Hola Mundo</p>
                   <canvas id="line-chart" width="900" height="150"></canvas>
                    </div>
                {% endfor %}
{% include "Graficas/barrasCheck.html" %}
            {% include 'Graficas/CheckinsDia.html' %}
            <br>
            {% include 'Graficas/CheckoutsDia.html' %}
            <br>
            {% include 'Graficas/PernoctacionesDia.html' %}
              <br>
            {% include 'Graficas/NacionalesDia.html' %}
              <br>
            {% include 'Graficas/ExtranjerosDia.html' %}
              <br>
            {% include 'Graficas/HabitacionesOcupadasDia.html' %}
              <br>
            {% include 'Graficas/HabitacionesDisponiblesDia.html' %}

            </div>
        </main>
    {% include "master.html" %}
    </div>
</div>
{<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'assets/assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'assets/assets/demo/chart-bar-demo.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="{% static 'assets/js/datatables-simple-demo.js' %}"></script>
<script src="{% static 'assets/js/linecharts.js' %}"></script>
</body>
</html>