{% extends "master.html" %}


<body>
<!-- Inicio del slider-->
{% block container %}



<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<br>
    <br>    <br>
<br>
    <!-- inicio de circulos -->
 <div class="container">
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-3 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#f9a825"/>
                    <foreignObject x="49" y="50" width="50" height="50">
                        <i class="fas fa-id-card" style="color: #ffffff; font-size: 40px;"></i>
                    </foreignObject>
                </svg>
                <h2 class="fw-normal mt-3">Revpar</h2>
                <p style="color: gray;">Revpar promedio diario, correspondiente al año 2022 de los establecimientos suscritos en OBTUR-UTPL</p>
                <p><a class="btn btn-secondary" href="#" style="background-color: #0c3f66; color: #ffffff;">View details &raquo;</a></p>
            </div><!-- /.col-lg-3 -->

            <div class="col-lg-3 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#f9a825"/>
                    <foreignObject x="45" y="50" width="50" height="50">
                        <i class="fas fa-money-bill" style="color: #ffffff; font-size: 40px;"></i>
                    </foreignObject>
                </svg>
                <h2 class="fw-normal mt-3">Tarifa Promedio</h2>
                <p style="color: gray;">Another exciting bit of representative placeholder content. This time, we've moved on to the second
                    column.</p>
                <p><a class="btn btn-secondary" href="#" style="background-color: #0c3f66; color: #ffffff;">View details &raquo;</a></p>
            </div><!-- /.col-lg-3 -->

            <div class="col-lg-3 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#f9a825"/>
                    <foreignObject x="45" y="50" width="50" height="50">
                        <i class="fas fa-hotel" style="color: #ffffff; font-size: 40px;"></i>
                    </foreignObject>
                </svg>
                <h2 class="fw-normal mt-3">Porcentaje Ocupado</h2>
                <p style="color: gray;">And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-secondary" href="#" style="background-color: #0c3f66; color: #ffffff;">View details &raquo;</a></p>
            </div><!-- /.col-lg-3 -->

            <div class="col-lg-3 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#f9a825"/>
                    <foreignObject x="45" y="50" width="50" height="50">
                        <i class="fas fa-percent" style="color: #ffffff; font-size: 40px;"></i>
                    </foreignObject>
                </svg>
                <h2 class="fw-normal mt-3" >Estadia Promedio</h2>
                <p style="color: gray;">And lastly this, the fourth column of representative placeholder content.</p>
                <p><a class="btn btn-secondary" href="#" style="background-color: #0c3f66; color: #ffffff;">View details &raquo;</a></p>
            </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
    </div>
</div>

    <!--  fin de circulos -->
    <div></div>
    <hr class="custom-line">
    <div></div>
    <div class="container">
        {% include "Graficas/barrasCheck.html" %}


    </div>
    <hr class="custom-line">
    <div></div>
    <div class="container">
        <p style="text-align: center; font-size: 70px; font-weight: bold;">
            Conoce a Loja
        </p>
        <p style="text-align: center; color: gray; font-size: 18px;">
            Loja tiene características muy especiales que le dan una propia identidad, es una región de la patria
            ecuatoriana donde el desafío permanente de una naturaleza agreste y dura ha forjado un tipo de hombre
            abierto a la solidaridad, a la creatividad cultural y a la lucha solidaria por la supervivencia y el
            progreso; ser extranjero o forastero casi constituye un privilegio, la hospitalidad y cordialidad del lojano
            resalta y enaltece sus mejores tradiciones.

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="/static/imgs/l1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn " style="background-color: #0c3f66; color: #ffffff;">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="/static/imgs/l1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Another Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn" style="background-color: #0c3f66; color: #ffffff;">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="/static/imgs/l1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Another Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn " style="background-color: #0c3f66; color: #ffffff;">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="/static/imgs/l1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Another Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn" style="background-color: #0c3f66; color: #ffffff;">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

