{% extends "master.html" %}
{% block container %}

<div class="page-header mt-4">
    <h2>
        {{user.first_name}} {{user.last_name}}
    </h2>
    usuario: <strong>{{user}}</strong> email: <strong>{{user.email}}</strong>
</div>



<div class="row">

<div class="col-md-8">
  <div class="card mb-3" style="border-radius: .5rem;">
    <div class="row g-0">
      <div class="col-md-4 gradient-custom text-center text-white"
           style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
             alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
          <h5>usuario: <strong>{{user}}</strong></h5>
        <p>Web Designer</p>
        <i class="far fa-edit mb-5"></i>
      </div>
      <div class="col-md-8">
        <div class="card-body p-4">
          <h6>Información</h6>
          <hr class="mt-0 mb-4">
          <div class="row pt-1">
            <div class="col-10 mb-3">
              <h6></h6>
               <strong>email:</strong> {{user.email}} </h5>

            </div>

          </div>
          <h6>Projects</h6>
          <hr class="mt-0 mb-4">
          <div class="row pt-1">
            <div class="col-6 mb-3">
              <h6>Recent</h6>
                <div class="row">
{% for item in list %}

<div >
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="{% url "core:establecimiento" item.id %}">{{item}}</a></h3>
      </div>
      <div class="panel-body">
        Registros: <a href="{% url "core:establecimiento_registros" item.id %}">{{item.registros.all|length}}</a>
        <br>
        Último registro: <em>{{item.get_ultimo_registro.fecha}}</em>
      </div>
      <div class="panel-footer text-center">
        <a href="{% url "core:establecimiento" item.id %}">[ + Ver Información ]</a>
        <a href="{% url "core:establecimiento_editar" item.id %}">[ + Editar Información ]</a>
        <br>
          <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary"href="{% url "core:establecimiento_registros" item.id %}"> Ver Registros</a>
  </div>
</div>
        <a class = "btn btn-primary"href="{% url "core:establecimiento_registros" item.id %}"> Ver Registros</a>
        <a href="{% url "core:establecimiento_registro_nuevo" item.id %}">[ + Agregar Registro ]</a>
      </div>
    </div>
</div>

{% endfor %}

              <p class="text-muted">Lorem ipsum</p>
            </div>
            <div class="col-6 mb-3">
              <h6>Most Viewed</h6>
              <p class="text-muted">Dolor sit amet</p>
            </div>
          </div>
          <div class="d-flex justify-content-start">
            <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
            <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
            <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>


{% endblock container %}
</div>