<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet"/>


    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    {% block header %}
    {% endblock header %}
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-secondary">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3 " href="{% url 'profile' %}">Inicio</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                <li><a class="dropdown-item" href="#!" id="logout-link">Cerrar Sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="{% url 'profile' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Datos</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Estadística
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{% url 'DatosAnuales' %}">Datos Anuales</a>
                            <a class="nav-link" href="{% url 'DatosMensuales' %}">Datos Mensuales</a>
                            <a class="nav-link" href="{% url 'DatosDiarios' %}">Datos Diarios</a>
                        </nav>
                    </div>

                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="login.html">Login</a>
                                    <a class="nav-link" href="register.html">Register</a>
                                    <a class="nav-link" href="password.html">Forgot Password</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseError" aria-expanded="false"
                               aria-controls="pagesCollapseError">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="401.html">401 Page</a>
                                    <a class="nav-link" href="404.html">404 Page</a>
                                    <a class="nav-link" href="500.html">500 Page</a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading"></div>

                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Inició sesión como:</div>
                {{ user.first_name }}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Datos mensuales</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Aquí podrás encontrar información sobre tus datos mensuales</li>
                </ol>

                <div class="container-fluid">
                    <div class="row row-cols-1 row-cols-md-4 g-4">

                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-door-open" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Checkins</h5>
                                    <a href="{% url 'CheckinsM' %}" class="small text-white stretched-link"></a>
                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-right-from-bracket"
                                       style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Checkouts</h5>
                                    <a href="{% url 'CheckoutsM' %}" class="small text-white stretched-link"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-bed" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Pernoctaciones</h5>
                                    <a href="{% url 'PernoctacionesM' %}" class="small text-white stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-person" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Nacionales</h5>
                                    <a href="{% url 'NacionalesM' %}" class="small text-white stretched-link"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-person" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Extranjeros</h5>
                                    <a href="{% url 'ExtranjerosM' %}" class="small text-white stretched-link"></a>
                                </div>

                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-person-shelter" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Habitaciones Ocupadas</h5>
                                    <a href="{% url 'HabiOcM' %}" class="small text-white stretched-link"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-house" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Habitaciones Disponibles</h5>
                                    <a href="{% url 'HabiDisM' %}" class="small text-white stretched-link"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-percent" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Tarifa Promedio</h5>
                                    <a href="{% url 'TarifaM' %}" class="small text-white stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-cart-shopping" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Ventas Netas</h5>
                                    <a href="{% url 'VentasM' %}" class="small text-white stretched-link"></a>
                                </div>

                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                     <i class="fa-solid fa-cash-register" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">RevPar</h5>
                                    <a href="{% url 'RevParM' %}" class="small text-white stretched-link"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-house" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Habitaciones Disponibles</h5>
                                    <a href="{% url 'HabiDisM' %}" class="small text-white stretched-link"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-primary text-white" style="border-radius: 0;">
                                <div class="card-body text-center">
                                    <i class="fa-solid fa-percent" style="color: #ffffff; font-size: 40px;"></i>
                                    <h5 class="card-title mt-3">Tarifa Promedio</h5>
                                    <a href="{% url 'TarifaM' %}" class="small text-white stretched-link"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                {% block graphic %}

                {% endblock %}


            </div>

        </main>
    </div>
    </main>

</div>
</div>
<br><br><br>
</main>
{% include "master.html" with exclude_header=True exclude_footer=True %}

</div>

</div>

</body>
<footer>

</footer>
</html>
{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const logoutLink = document.getElementById('logout-link');

            logoutLink.addEventListener('click', function (event) {
                event.preventDefault();

                fetch("{% url 'logout' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(function () {
                    window.location.href = "{% url 'index' %}";
                }).catch(function (error) {
                    console.error('Error al cerrar la sesión:', error);
                });
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/assets/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/assets/demo/chart-bar-demo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/datatables-simple-demo.js' %}"></script>
    <script src="{% static 'assets/js/linecharts.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>
{% endblock %}
