<!DOCTYPE html>
<html>
<head>
    <title>Estadísticas</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
    <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Realizar la petición AJAX para obtener los datos
            fetch("{% url 'obtener_datos' %}")
                .then(response => response.json())
                .then(data => {
                    Highcharts.chart('container', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: 'Checkins y Checkouts por Año'
                        },
                        xAxis: {
                            categories: data.anios,
                            accessibility: {
                                rangeDescription: 'Range: 2019 to 2023'
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Número de Checkins y Checkouts'
                            }
                        },
                        series: [{
                            name: 'Checkins',
                            data: data.checkins
                        }, {
                            name: 'Checkouts',
                            data: data.checkouts
                        }],
                        responsive: {
                            rules: [{
                                condition: {
                                    maxWidth: 500
                                },
                                chartOptions: {
                                    legend: {
                                        layout: 'horizontal',
                                        align: 'center',
                                        verticalAlign: 'bottom'
                                    }
                                }
                            }]
                        }
                    });
                })
                .catch(error => {
                    console.error('Error al obtener los datos:', error);
                });
        });
    </script>
</body>
</html>