{% block title %}

{% endblock %}

<br>

{% block container %}
   <style type="text/css">
        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        #container {
            height: 400px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

        .filter-form {
            margin-top: 10px;
        }
    </style>


    <div class="row">
        <div class="col-md-12">
            <h1>Empleados Temporales Diario</h1>
            <form class="filter-form">
                <label for="year">Selecciona un año:</label>
                <select id="year" name="year">
                    <option value="">Todos</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
                <label for="month">Selecciona un mes:</label>
                <select id="month" name="month">
                    <option value="">Todos</option>
                    <option value="Enero">Enero</option>
                    <option value="Febrero">Febrero</option>
                    <option value="Marzo">Marzo</option>
                    <option value="Abril">Abril</option>
                    <option value="Mayo">Mayo</option>
                    <option value="Junio">Junio</option>
                    <option value="Julio">Julio</option>
                    <option value="Agosto">Agosto</option>
                    <option value="Septiembre">Septiembre</option>
                    <option value="Octubre">Octubre</option>
                    <option value="Noviembre">Noviembre</option>
                    <option value="Diciembre">Diciembre</option>
                </select>
                <button type="button" onclick="filterByYearAndMonth()">Filtrar</button>
            </form>
            <div id="container"></div>
        </div>
    </div>

    <script>
        // Función para obtener los datos y cargar la gráfica
        function loadChart(data, selectedYear, selectedMonth) {
            // Obtener los datos de empleados temporales para el año y mes seleccionados
            var selectedMonthIndex = data.meses.findIndex(month => month.nombre === selectedMonth);
            var selectedMonthData = data.empleados_temporales[selectedMonthIndex];

            // Crear la gráfica
            Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Empleados Temporales Diario en ' + selectedYear
                },
                xAxis: {
                    categories: [...Array(selectedMonthData.length).keys()].map(day => day + 1),
                    accessibility: {
                        rangeDescription: 'Range: Días del Mes'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Empleados Temporales'
                    }
                },
                series: [{
                    name: selectedMonth,
                    data: selectedMonthData
                }],
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
        }

        // Función para obtener los datos filtrados por año y mes
        function filterByYearAndMonth() {
            var selectedYear = document.getElementById('year').value;
            var selectedMonth = document.getElementById('month').value;
            var url = "{% url 'TemporalesDiarios' %}";

            if (selectedYear) {
                url += "?year=" + selectedYear;
            }
            if (selectedMonth) {
                url += selectedYear ? "&month=" + selectedMonth : "?month=" + selectedMonth;
            }

            // Realizar la petición AJAX para obtener los datos
            $.ajax({
                url: url,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    if (!selectedYear && !selectedMonth) {
                        // Cargar la gráfica con los datos de enero de 2023 por defecto
                        loadChart(data, 2023, "Enero");
                    } else {
                        // Cargar la gráfica con los datos filtrados
                        loadChart(data, selectedYear, selectedMonth);
                    }
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            // Cargar la gráfica inicial sin filtrar
            filterByYearAndMonth();

            // Asignar evento change al elemento "select" para filtrar automáticamente al cambiar el año o mes
            document.getElementById('year').addEventListener('change', filterByYearAndMonth);
            document.getElementById('month').addEventListener('change', filterByYearAndMonth);
        });
    </script>
{% endblock %}